.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: #687d8f;
  background-color: #e8e9eb;
  background-color: #e7e7e7;
}
.test-account {
  font-size: 1.1rem;
  background: #e7e7e7;
}
/* Landing Section */

.landing-background {
  width: 430px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}
.landing__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.35rem;
  gap: 35px;
  height: 80vh;
}
.landing__content h3 {
  text-align: center;
}
.landing__content__header {
  font-size: 4rem;
}
.landing__content__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.landing__content_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* Landing Buttons  */
.landing__button {
  font-size: 1.75rem;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color ease 0.6s;
  margin: 5px;
}

.landing__button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.landing__button:hover {
  background-color: #8ca0b1;
}
@media (min-width: 768px) {
  .landing__button {
    padding: 0.25em 0.75em;
  }
}

/* Modal Section */
.modal__login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.modal {
  width: 385px;
  height: 555px;
  background: #191919;
  overflow: hidden;
  position: fixed;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  z-index: 3;
  transition: 0.9s ease-in-out;
}
.modal.active {
  scale: 1;
  top: 50%;
}
.modal__signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.modal label:hover {
  color: #687d8f;
}
.modal input {
  width: 60%;
  height: 20px;
  background: #fff;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.modal button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: black;
  background: #ced0ce;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.modal button:hover {
  background: #a3a380;
}
.modal__login {
  height: 460px;
  background: #e5e5e5;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.modal__login label {
  color: black;
  transform: scale(0.6);
}

.modal__login.active {
  transform: translateY(-530px);
}
.modal__login.active label {
  transform: scale(1);
}
.modal__signup label {
  transform: scale(0.6);
}
.modal__signup.active label {
  transform: scale(1);
}
/* Overlay */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  transition: all 0.9s ease;
  z-index: 2;
  left: -100vw;
}
.overlay.active {
  left: 0;
}
/* Navbar */

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #edede9;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  font-size: 25px;
}
.navigation__home {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
  align-items: center;
}
.navigation-menu li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.navigation-menu li:hover {
  color: gray;
}

.navigation-menu li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;
  color: inherit;
}
.navigation-menu li p {
  cursor: pointer;
}
/* Blogs Section */
.blogs-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  -moz-box-align: center;
  align-items: center;
  margin: 96px 0px;
}
.blogs-title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  margin: 0px;
}
.blogs-subTitle {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: lighter;
  color: rgb(115, 119, 125);
  font-family: "Libre Baskerville", serif;
  margin: 0px;
  text-align: center;
}

.blogs {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(20.6rem, 1fr));
  place-items: center;
  place-content: center;
}
/* Card Section */
.card {
  margin: 1rem 1.5rem;
  padding: 1.5rem;
  height: 23vh;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-top: 1px solid rgb(115, 119, 125);
  border-bottom: 1px solid rgb(115, 119, 125);
  border-radius: 8px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.card-title {
  margin: 0.5rem 0;
}
.card-details {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card-authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.card-author {
  margin: 0.25rem 0;
}
.card-published {
  margin: 0.25rem 0;
}

.card-commentWrapper {
  position: absolute;
  bottom: 1.75rem;
  left: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.card-chatIcon {
  width: 25px;
}

/* blog section */
.blog-container {
  display: grid;
  justify-content: center;
  justify-self: center;
  margin: auto;
  padding: 7px;
  width: 90vw;
  gap: 20px;
}
.blog-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  padding: 15px 2px;
  margin-bottom: 10px;
}
.blog__header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__header-bottom {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.blog__header-author {
  display: flex;
  align-items: center;
  gap: 3px;
}
.blog__header-author img {
  width: 23px;
}
.blog__header-date {
  display: flex;
  align-items: center;
  gap: 3px;
}
.blog__header-date img {
  width: 23px;
}
/* comments */
.comment-container {
  display: grid;
  gap: 10px;
}
.comment-input form {
  display: flex;
  padding: 5px 10px;
  max-width: 825px;
  justify-content: space-between;
  gap: 8px;
}

.comment-input form input {
  min-height: 1.8rem;
  background-color: rgb(79 116 122 / 16%);
  resize: vertical;
  width: 80%;
  border-radius: 8px;
  max-height: 5rem;
  padding: 8px;
  border: none;
  max-width: 850px;
}
.comment-input form button {
  padding: 15px;
  justify-content: center;
  display: block;
  color: black;
  background: #ced0ce;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.comment-input form button:hover {
  background: rgb(79 116 122 / 56%);
}
.comment-input form button:active {
  transform: scale(0.9);
}
.comments {
  display: grid;
  gap: 10px;
  padding: 10px;
}
.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-left: 4px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 800px;
}
.comment-details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}
.comment__details-author {
  display: flex;
  align-items: center;
  gap: 3px;
}
.comment__details-author img {
  width: 20px;
}
.comment__details-date {
  display: flex;
  align-items: center;
  gap: 3px;
}
.comment__details-date img {
  width: 17px;
}
/* Profile */
.profile-container {
  display: grid;
  padding: 7px;
  gap: 20px;
}
.profile-header {
  display: flex;
  align-items: baseline;
  padding: 15px 2px;
  margin-bottom: 10px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

/* Error */
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background: #ff00003b;
  font-size: 18px;
}
.error--light {
  background: #eeecec3b;
  color: #f5f9ed;
}
